@if (loadingItems()) {
    <app-loader />
} @else {
    @let _items = items();

    @if (!_items) {
        <nz-alert nzType="error" nzMessage="Error loading items!"></nz-alert>
    } @else {
        <div class="items-container">
            @for (item of _items; track item.id) {
                <app-item
                    [item]="item"
                    (update)="onUpdateItem(item, $event)"
                    (delete)="onDeleteItem(item)"
                />
            }

            <app-item (create)="onCreateItem($event)" />
        </div>
    }
}
