<nz-layout>
    <nz-content>
        <div nz-row nzJustify="space-around" nzAlign="middle">
            <div nz-col nzSpan="4">
                <form
                    nz-form
                    [nzLayout]="'inline'"
                    [formGroup]="userForm"
                    (ngSubmit)="checkUser()"
                >
                    <nz-input-group
                        nzSearch
                        nzSize="large"
                        [nzAddOnAfter]="suffixButton"
                    >
                        <input
                            formControlName="email"
                            nz-input
                            nzSize="large"
                            placeholder="test@test.com"
                        />
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <button
                            nz-button
                            nzType="primary"
                            nzSize="large"
                            [disabled]="!userForm.valid || disabledLogin()"
                        >
                            Log in
                        </button>
                    </ng-template>
                </form>

                @if (showRegisterUser()) {
                    <nz-divider />
                    <p>User was not found, do you want to create it?</p>
                    <div nz-row nzJustify="space-between">
                        <button
                            nz-button
                            nzType="default"
                            (click)="resetLogin()"
                        >
                            Cancel
                        </button>
                        <button
                            nz-button
                            nzType="primary"
                            [disabled]="loadingRegisterUser()"
                            (click)="registerUser()"
                        >
                            Register
                        </button>
                    </div>
                }
            </div>
        </div>
    </nz-content>
</nz-layout>
